{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}

    <h2> Contact Page </h2>


    <body>
    <div class="row w3-center" style="display: flex; justify-content: center">
        <div class="col-sm-4 card" style="transform: translateX(5%)">
            <img src="https://i.postimg.cc/d3T2JQQ1/IMG-5727.jpg" width="75%" height="75%">
            <div class="container" >
                <h4><b>Avinh Huynh</b></h4>
                <p>Email: DNHSCookingClub@gmail.com </p>
                <p>Discord: SlimeyTurtles#9104</p>
            </div>
        </div>
    </div>


    </body>
{% endblock %}