{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="product" style="margin-top: 2%;">
    <div class="row" style="padding: 15%; padding-top: 0%; padding-bottom: 5%;">

        <h1> DNHS Cooking Club </h1>

        <style>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                                                                                                                                                                                                                              .margins-autos {}
            .vLink {
                margin-bottom: 5px;
            }
            .vImage {
                margin-bottom: 2rem;
            }
            #vMap {
                margin-bottom: 12rem;
            }
        </style>

        <div style="position: center; font-size:x-large; color:green; font-family: 'Apple Chancery'; padding-right:20%" >
            <br>
            <p>About:</p>
        </div>

        <div style="position: center;font-size:large; color:black; font-family: 'Century Schoolbook';  " >
            <p>Learn how to make some of the best recipes from our own Del Norte Chefs!</p>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="container" style="position: center">
            <div class="row justify-content-center margins-autos">
                <div id="n1" class="vImage col-sm"><img src="/static/personalities.png" width="250" height="240"></div>
                <div id="n2" class="vImage col-sm"><img src="/static/p2.jpg" width="250" height="240"></div>
                <div id="n3" class="vImage col-sm"><img src="/static/p3.jpg" width="250" height="240"></div>
            </div>
        </div>

    </div>
</div>

<p>test</p>

{% endblock %}