{% extends "layouts/base.html" %}

{% block body %}
<style>
    body{
        background-color: tomato;
    }

    card {

    }

</style>

<body>
<div align="center">
    <h2>Quiz </h2>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card" style="width:50%;">
            What can you replace milk with?<br>
            1. Eggs with cornstarch<br>
            2. heavy cream thinned with water<br>
            3. white wine with flour<br>
            Answer 1:
            <input id="RAM" type="number" size="4" min="1" max="3"><br><br>
        </div>
        <div>
            <div class="card" style="width:50%;">
                What can you replace flour with?<br>
                1. Baking soda<br>
                2. Chickpea flour<br>
                3. Bead crumbs<br>
                Answer 3:
                <input id="AGP" type="number" size="4" min="1" max="3"><br><br>
            </div>
        </div>
        <div>
            <div class="card" style="width:50%;">
                What can you replace baking soda with?<br>
                1. Flour<br>
                2. Poweder sugar<br>
                3. Baker's ammonia<br>
                Answer 5:
                <input id="CPU" type="number" size="4" ><br><br>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" style="width:50%;">
            What can you replace olive oil with?<br>
            1. Coconut oil<br>
            2. Hair oil<br>
            3. Pasta Sauce<br>
            Answer 2:
            <input id="ADC" type="number" size="4" min="1" max="3"><br><br>
        </div>
        <div>
            <div class="card" style="width:50%;">
                What can you replace eggs with?<br>
                1. Apple sauce <br>
                2. Milk <br>
                3. Vanilla extract <br>
                Answer 4:
                <input id="LAS" type="number" size="4" min="1" max="3"><br><br>
            </div>
        </div>
        <div style="padding:5%">
            </div>
            <button type="button" onclick="quizFunction()">Test your answers</button>
            <br>
            <p id="pstyle">Number of correct answers</p>
        </div>
</div>


<script>
    // define variables outside function
    var ans1
    let ans2
    let ans3
    let ans4
    let ans5
    let list = []
    function quizFunction() {
        // checking if input is correct
        ans1 = document.getElementById('RAM').value;
        ans2 = document.getElementById('ADC').value;
        ans3 = document.getElementById('AGP').value;
        ans4 = document.getElementById('LAS').value;
        ans5 = document.getElementById('CPU').value;
        score = 0
        list = [ans1, ans2, ans3, ans4, ans5]
        // its doing string now, need to change to integer
        for (let i = 0; i < list.length; i++) {
            if (list[i] == 2) {
                score = score + 1
            }
        }
        document.getElementById('pstyle').innerHTML = "Number of correct answers: " + score
    }

</script>

</body>

</head>
<body>

</body>
</html>
    {% endblock %}